body{
    background-color: lightgray;
}

nav {
    background-color: slategray;
    padding-top: 1pt;
    padding-bottom: 1pt;
}

img {
    max-width: 100%;
}

/*CLASSs*/
.inner-container {
    max-width: 1170px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-1-2 {
    width: 50%;
}

.col-1-3 {
    width: 33.3333%;
}

.col-2-3 {
    width: 66.6666%;
}

.text-centered{
    text-align: center;
}

.addspace{
    padding-left: 5pt;
}

/*IDs*/
#main-content{
    background-color: slategray;
}



