body{
    background-color: #364b71;
    font-family: 'Tomorrow';
    max-width: 1500px;
    margin: 0 auto;
    background-image: url("images/cloud.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

section{
    background-color: slategray;
}

img {
    max-width: 100%;
}

/*CLASSs*/
.inner-container {
    max-width: 1170px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-1-1 {
    width: 100%;
}

.col-1-2 {
    width: 50%;
}

.col-1-3 {
    width: 33.3333%;
}

.col-2-3 {
    width: 66.6666%;
}

.text-centered{
    text-align: center;
}

.align-right{
    text-align: right;
}

/*IDs*/
#main-content{
    /*background-color: slategray;*/
    background-color: whitesmoke;
}

/********************
  Contents
********************/

canvas {
    position: absolute;
    top: 0;
    left: 0;
  }
  
  canvas#canvasThunder {
    z-index: -3;
    background: #131041;
  }
  
  canvas#canvasCloud {
    z-index: -2;
  }
  
  canvas#canvasRain {
    z-index: -1;
  }